<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift</title>
</head>
<body>
    <h1>Time To </br>
    <h2>"Add Inventory". </h2>
    <form action="/gifts" method="POST">
        <h3>
        Img: <input type="url" name="img" /><br />
        Name: <input type="text" name="name" /><br />
        Description: <input type="text" name="description" /><br />
        Price: <input type="number" name="price" /><br />
        Qty: <input type="number" name="qty" /><br />
       
        <input type="submit" name="" value="Add Gift" />
    </form>
  </h3>
    
</body>
</html>