<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Sign in</title>
  </head>
  <body>
    <h1>SAINT LAURENT</h1>
    <h2 class="h2">
        <ul class="left">
       <li><a href="http://localhost:3000/mains"  class="a1">  WOMAN COLLECTION </a></li> 
       <li><a href="https://www.ysl.com/en-us/page-saint-laurent-self07" class="a1" > ABOUT</a></li>
       <li><a href="https://www.ysl.com/en-us/storelocator" class="a1"> LOCATIONS</a></li>
    </ul>
    <ul class="right">
       <li><a href="" class="a1"> 🖤BAGS</a></li>
       <li><a href="http://localhost:3000/users/signin" class="a1"> LOG IN</a></li>
       <li><a href="http://localhost:3000/users/register" class="a1"> REGISTER</a></li>
    </ul>

    </h2>
    <h3>Sign In</h3>
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input type="submit" value="Sign In">
    </form>
  </body>

  <footer >
    <div class="container">
    <ul class="left2">
    <li><a href="https://www.facebook.com/ysl" class="a3"> FACEBOOK</a></li>
    <li><a href="https://twitter.com/ysl" class="a3" > TWITTER</a></li>
    <li><a href="https://www.instagram.com/ysl/" class="a3"> INSTGRAM</a></li>
    <li><a href="https://www.youtube.com/ysl" class="a3"> YOUTUBE</a></li>
</ul>
<ul class="right2">
    <li><a href="https://www.ysl.com/en-us/displayname-faq?faqCategory=FAQShipping" class="a3"> SHIPPING</a></li>
    <li><a href="https://www.ysl.com/on/demandware.store/Sites-SLP-NOAM-Site/en_US/Order-GuestForm?orderType=return" class="a3" > RETURN</a></li>
</ul>
</div>

</footer>
</html>